@include background-image('hero/springbok-okavango-botswana.jpg');

@include breakpoint-down($small) {
  padding-bottom: rem-calc(110);
}

@include breakpoint($medium) {
  @include min-full-height();
}

.section {
  &__introduction {
    font-size: 16px;
    @include breakpoint($small) { 
      width: 70%; 
    }
    @include breakpoint($medium) { 
      font-size: 18px;
      width: 59%; 
    }
  }
}