@include background-image('hero/springbok-okavango-botswana.jpg');

@include breakpoint($medium) {
  @include full-height();
  padding: 0;
}

.section {
  &__introduction {
    @include breakpoint($small) { width: 70%; }
    @include breakpoint($medium) { width: 50%; }
  }
}