//--------------------------------------------------
// variables
//--------------------------------------------------

$hero-image: 'hero/burchells_zebra_botswana.jpg';

//--------------------------------------------------
// settings
//--------------------------------------------------

@include background-image($hero-image);

@include breakpoint($medium) {
  @include min-full-height();
}

//--------------------------------------------------
// classes
//--------------------------------------------------

.section {
  &__introduction {
    font-size: 16px;
    @include breakpoint($small) {
      width: 70%;
    }
    @include breakpoint($medium) {
      font-size: 18px;
      width: 59%;
    }
  }
}
