.section {
  &__header {
    height: 100%;

    position: relative;
  }

    &__header-content {
      text-align: center;
      width: 40%;
    }

  &__icon {
    position: absolute;
    bottom: 10px;
  }
}