//--------------------------------------------------
// variables
//--------------------------------------------------

$hero-image: 'windturbines-on-the-ocean.jpg';

//--------------------------------------------------
// settings
//--------------------------------------------------

@include background-image($hero-image);
@include full-height();

//--------------------------------------------------
// classes
//--------------------------------------------------

.section {
  &__header {
    height: 100%;

    position: relative;
  }

    &__header-content {
      text-align: center;

      @include breakpoint($small) {
        width: 59%;
      }
    }

  &__icon {
    position: absolute;
    bottom: 36px;
    right: 50%; //for IE 11

    transform: translateX(50%); //for IE11
  }
}
