//--------------------------------------------------
// variables
//--------------------------------------------------

$hero-image: '/content/images/highlights/tea.jpg';

//--------------------------------------------------
// settings
//--------------------------------------------------

@mixin hash-font-size() {
  font-size: 200px;
  @include breakpoint($medium) { font-size: 400px; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------

h2 {
  display: inline;
  position: relative;

  &::before {
    @include breakpoint($small) {
      @include hash-font-size();
      content: '#';
      color: rgba(white, 0.3);

      position: absolute;
      top: -.5em;
      left: -.27em;
    }
  }
}

.section {

  &__header {
    background: image-url($hero-image);
    background-size: cover;
    height: 100vh;

    position: relative;

    &::after {
      background: linear-gradient(to bottom, rgba(0,0,0,0%) 35%, rgba(0,0,0,5%) 55% 65%, rgba(0,0,0,0%) 75% 80%, #fff),
                  linear-gradient(to right, rgba(0,0,0,0%) 20%, rgba(0, 0, 0, 5%) 35% 60%, rgba(0,0,0,0%) 75%);
      content: '';
      display: block;
      width: 100%; height: 100%;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__header-content {
    text-align: center;
    z-index: 10;
    @include breakpoint($small) { width: 59%; }
  }

  &__title { margin-top: 1.2em; } //because h2 needs to be inline to position hash responsively

  &__introduction {
  }
}
