//--------------------------------------------------
// settings
//--------------------------------------------------
$number-font-mobile: 30px;
$number-font-tablet: 40px;
$number-font-desktop: 50px;

@mixin stat-number-font() {
  font-size: $number-font-mobile;
  @include breakpoint($small) { font-size: $number-font-tablet; }
  @include breakpoint($medium) { font-size: $number-font-desktop; }
}

$text-font-mobile: 18px;
$text-font-tablet: 20px;
$text-font-desktop: 25px;

@mixin stat-text-font() {
  font-size: $text-font-mobile;
  @include breakpoint($small) { font-size: $text-font-tablet; }
  @include breakpoint($medium) { font-size: $text-font-desktop; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.section {
  &__map-wrapper {
    background-color: $primary-light;
    border-radius: $global-radius;
  }

    &__map {
      width: 100%; height: auto;
    }

  &__chart-stats {
    width: 100%;
    
    @include breakpoint($medium) { 
      padding-left: $gutter-large;
      width: 33%; 
    }
  }

  &__chart {
    width: 66%; height: 400px;
  }
  
  &__stat {
    &-number {
      @include stat-number-font();
      font-weight: $fw-black;
      margin: 0;
    }

    &-text {
      @include stat-text-font();
    }

    &-icon {
      margin-right: 14px;
      width: 45px; height: 45px;

      display: block;
    }
  }

  &__circles {
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint($small) { 
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  }

    &__circle {
      @extend .flex-center; 
      background-color: $primary-light;
      border-radius: 100%;
      margin: 22px 0; 
      width: 70%;
      max-width: 280px;
      
      position: relative;

      @include breakpoint($small) { width: 30%; }

      &::after {
        content: '';
        padding-bottom: 100%;

        display: block;
      }

      &-content {
        @extend .flex-center;
        padding: 0 44px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &-icon {
        margin-bottom: 18px;
        width: 90px; height: 80px;
      }
    }

  &__employee-intro { 
    width: 100%; 

    @include breakpoint($small) { width: 33%; }
  }
  
  &__employee-stats { 
    width: 100%;

    @include breakpoint($small) { 
      width: 66%;

      display: flex; 
    }
  }

    &__square {
      background-color: $primary-light;
      border-radius: $global-radius;
      width: 30%;

      position: relative;

      &::after {
        content: '';
        padding-bottom: 100%;

        display: block;
      }

      &-content {
        @extend .flex-center;
        
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &-icon {
        width: 60px; height: 50px;
        margin-bottom: 14px;
      }
    }
}