$blockquote-author-mobile: 14px;
$blockquote-author-tablet: 14px;
$blockquote-author-desktop: 18px;

@mixin createQuote($quote) {
  content: $quote;
  color: lighten($grey-dark, 20%);
  font-size: 80px;
  font-weight: $fw-medium;
  line-height: 1;

  display: block;
  position: absolute; 

  @include breakpoint($small) { font-size: 100px; }
  @include breakpoint($medium) { font-size: 250px; }
}

.blockquote {
  &--quotes {
    .blockquote {
      &__quote {
        margin-bottom: 24px;
        padding-top: 50px;
        position: relative;

        &:before { 
          @include createQuote('\201C');
          top: 0;
          right: calc(100% + .15em); 
        }

        &:after { 
          @include createQuote('\201D');
          top: calc(100% - .25em);
          left: calc(100% - .3em);
        }
      }

      &__author {
        color: $white;
        font-size: $blockquote-author-mobile;
        font-weight: $bold;
        line-height: $line-height-blockquote;

        display: block;

        @include breakpoint($small) { font-size: $blockquote-author-tablet; }
        @include breakpoint($medium) { font-size: $blockquote-author-desktop; }
      }
    }
  }
}