//--------------------------------------------------
// settings
//--------------------------------------------------
@mixin button-basic {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;

  &:hover { text-decoration: none; }
}

$button-text-mobile: 20px;
$button-text-tablet: 25px;
$button-text-desktop: 30px;

@mixin button-font-size() { 
  font-size: $button-text-mobile;

  @include breakpoint($small) { font-size: $button-text-tablet; }
  @include breakpoint($medium) { font-size: $button-text-desktop; }
}

$button-padding-mobile: 16px 24px;
$button-padding-tablet: 16px 24px;
$button-padding-desktop: 16px 24px;

@mixin button-padding() { 
  padding: $button-padding-mobile;

  @include breakpoint($small) { padding: $button-padding-tablet; }
  @include breakpoint($medium) { padding: $button-padding-desktop; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.button {
  &--external {
    @include button-font-size();
    @include button-padding();
    background-color: $primary;
    color: $white;
    font-weight: bold;
    text-decoration: none;

    &:hover { background-color: lighten($primary, 10%); }
  }

  &--external-outline {
    @extend .button--external;
    border: solid 1px $white;
  }

  &--internal {
    @include flex();
    @include flex-v-center();
    background-color: transparent;
    border: 0;
    color: $primary;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 0;

    @include breakpoint($small) { font-size: 25px; }

    &:hover { color: lighten($primary, 10%); }

    &::after {
      @extend .icon--arrow-right;
      content: '';
      margin-left: 16px;
      
      display: block;
    }
  }

  &--subtle {
    color: $grey-light;
    font-size: 16px;

    @include breakpoint($small) { font-size: 18px; }
    @include breakpoint($medium) { font-size: 20px; }
  }
}