.button {
  &--external {
    background-color: $primary;
    color: $white;
    font-size: 30px;
    font-weight: bold;
    padding: 16px 24px;
    text-decoration: none;

    &:hover { background-color: lighten($primary, 10%); }
  }

  &--external-outline {
    @extend .button--external;
    border: solid 1px $white;
  }

  &--internal {
    background-color: transparent;
    border: 0;
    color: $primary;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;

    &:hover { color: lighten($primary, 10%); }
  }

  &--subtle {
    color: $grey-light;
    font-size: 20px;
  }
}