//--------------------------------------------------
// section background images
//--------------------------------------------------
$background-image-text-mobile: 14px;
$background-image-text-tablet: 14px;
$background-image-text-desktop: 16px;

@mixin background-image($filepath) {
  background-image: image-url(#{$filepath});
  background-size: cover;
  background-position: bottom center;
}

.bg-image__caption {
  color: $grey;
  font-size: $background-image-text-mobile;

  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;

  @include breakpoint($small) { font-size: $background-image-text-tablet; }
  @include breakpoint($medium) { font-size: $background-image-text-desktop; }
}

  .bg-image__title { font-weight: $fw-bold;}
  .bg-image__credit { margin-bottom: 30px; }