//--------------------------------------------------
// variables
//--------------------------------------------------
// - borders
// - colours
// - buttons
// - shadows
// - fonts
// - breakpoints
// - z-indices
// - dimensions
// - padding
// - tables
// - topbars and footers
// - branding

//--------------------------------------------------
// borders
//--------------------------------------------------
$border-width-thin: rem-calc(1);
$border-width-regular: rem-calc(2);

$border-thin: solid $border-width-thin;
$border-regular: solid $border-width-regular;

$global-radius: 22px;

//--------------------------------------------------
// colours
//--------------------------------------------------
$white: #ffffff;
$black: #000000;

$pink: #E84157;

$green: #8EC154;

$grey-light: #e1e1e1;
$grey: #C3C3C3;
$grey-dark: #333333;

$primary: $wcmc-blue;
$primary-light: #31A0C9;
$primary-dark: #097EAA;

//--------------------------------------------------
// buttons
//--------------------------------------------------
$button-radius: 0;
$button-default-color: $grey;


$button-padding-small: rem-calc(10 10);
$button-padding-medium: rem-calc(20 30);

//--------------------------------------------------
// shadows
//--------------------------------------------------
$shadow-light: rem-calc(0 1 2 1) rgba($black, 0.3);
$shadow-dark: rem-calc(0 1 2 1) rgba($black, 0.5);

//--------------------------------------------------
// fonts
//--------------------------------------------------
$body-font: 'Roboto', sans-serif;
$header-font: Impact, Charcoal, sans-serif;
$body-font-color: #363636;

$thin: 100;
$light: 300;
$regular: 400;
$fw-medium: 500;
$bold: 700;
$fw-black: 900;

$font-weight-h1: $regular;
$font-weight-h2: $regular;
$font-weight-h3: $fw-black;
$font-weight-h4: $fw-black;
$font-weight-p: $light;

$line-height-h1: 1.25;
$line-height-h: 1.16;
$line-height-p: 1.25;
$line-height-li: 1.5;
$line-height-blockquote: 1.2;

@mixin font-size($el) {
  @if $el == 'h1' { font-size: 50px; }
  @if $el == 'h2' { font-size: 50px; }
  @if $el == 'h3' { font-size: 25px; }
  @if $el == 'h4' { font-size: 16px; }
  @if $el == 'p' { font-size: 16px; }
  @if $el == 'blockquote' { font-size: 24px; }

  @include breakpoint($small) {
    @if $el == 'h1' { font-size: 50px; }
    @if $el == 'h2' { font-size: 50px; }
    @if $el == 'h3' { font-size: 25px; }
    @if $el == 'h4' { font-size: 25px; }
    @if $el == 'p' { font-size: 25px; }
    @if $el == 'blockquote' { font-size: 24px; }
  }

  @include breakpoint($medium) {
    @if $el == 'h1' { font-size: 90px; }
    @if $el == 'h2' { font-size: 90px; }
    @if $el == 'h3' { font-size: 30px; }
    @if $el == 'h4' { font-size: 30px; }
    @if $el == 'p' { font-size: 25px; }
    @if $el == 'blockquote' { font-size: 40px; }
  }
}

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: 720px;
$medium: 1279px;
$large: 1708px;

//--------------------------------------------------
// z-indices
//--------------------------------------------------
$z-100: 100;
$z-200: 200;
$z-300: 300;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: 16px;
$gutter-medium: 24px;
$gutter-large: 32px;

$page-padding-top-small: 16px;
$page-padding-top-medium: 24px;
$page-padding-top-large: 32px;

$page-padding-bottom-small: 32px;
$page-padding-bottom-medium: 60px;
$page-padding-bottom-large: 100px;

$section-padding-top-mobile: 40px;
$section-padding-top-tablet: 90px;
$section-padding-top-desktop: 136px;

$section-padding-bottom-mobile: 40px;
$section-padding-bottom-tablet: 120px;
$section-padding-bottom-desktop: 196px;

$item-padding-mobile: 18px;
$item-padding-tablet: 30px;
$item-padding-desktop: 60px;

@mixin gutters($sides:'both', $type:'padding') {
  $sides: if($sides == 'both', ('left', 'right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $gutter-small;

    @include breakpoint($small) { #{$type}-#{$s}: $gutter-medium; }
    @include breakpoint($medium) { #{$type}-#{$s}: $gutter-large; }
  }
}

@mixin item-padding($sides:'all', $type:'padding') {
  $sides: if($sides == 'all', ('top','bottom','left','right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $item-padding-mobile;

    @include breakpoint($small) { #{$type}-#{$s}: $item-padding-tablet; }
    @include breakpoint($medium) { #{$type}-#{$s}: $item-padding-desktop; }
  }
}

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: $large;
$site-width-medium-tablet: calc(100% - 160px + #{$gutter-medium});
$site-width-medium-desktop: calc(100% - 316px + #{$gutter-large});

//--------------------------------------------------
// tables
//--------------------------------------------------
$collapse-table-borders: true;
$table-cell-padding: 8px;

//--------------------------------------------------
// topbars and footers
//--------------------------------------------------
$navbar-height-small: rem-calc(80);
$navbar-height-medium: rem-calc(100);
$v-navbar-height-small: rem-calc(50);
$v-navbar-height-medium: rem-calc(60);

$footer-height-desktop: rem-calc(140);

@mixin nav-height {
  height: $navbar-height-small;
  
  @include breakpoint($small) {
    height: $navbar-height-medium;
  }
}

@mixin v-nav-height($height-type: '') {
  @if $height-type != '' {
    $height-type: $height-type + '-'
  }
  
  #{$height-type}height: $v-navbar-height-small;
  
  @include breakpoint($small) {
    #{$height-type}height: $v-navbar-height-medium;
  }
}

$footer-height-desktop: rem-calc(80);

//--------------------------------------------------
// branding
//--------------------------------------------------
$unepwcmc-w-to-h-ratio: 118/27;
