//--------------------------------------------------
// variables
//--------------------------------------------------
// - borders
// - colours
// - buttons
// - shadows
// - fonts
// - breakpoints
// - z-indices
// - dimensions
// - padding
// - tables
// - topbars and footers
// - branding

//--------------------------------------------------
// borders
//--------------------------------------------------
$border-width-thin: rem-calc(1);
$border-width-regular: rem-calc(2);

$border-thin: solid $border-width-thin;
$border-regular: solid $border-width-regular;

//--------------------------------------------------
// colours
//--------------------------------------------------
$white: #ffffff;
$black: #000000;

$green: #077E47;

$grey-light: #e1e1e1;
$grey: #cdcdcd;
$grey-dark: #333333;

$primary: $wcmc-blue;

//--------------------------------------------------
// buttons
//--------------------------------------------------
$button-radius: 0;
$button-default-color: $grey;


$button-padding-small: rem-calc(10 10);
$button-padding-medium: rem-calc(20 30);

//--------------------------------------------------
// shadows
//--------------------------------------------------
$shadow-light: rem-calc(0 1 2 1) rgba($black, 0.3);
$shadow-dark: rem-calc(0 1 2 1) rgba($black, 0.5);

//--------------------------------------------------
// fonts
//--------------------------------------------------
$body-font: 'Roboto', sans-serif;
$header-font: Impact, Charcoal, sans-serif;
$body-font-color: #363636;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 500;
$bolder: 700;
$fw-black: 900;

$font-weight-h1: $light;
$font-weight-h2: $regular;
$font-weight-h3: $fw-black;
$font-weight-h4: $light;
$font-weight-p: $light;

$line-height-h1: 1.25;
$line-height-h: 1.16;
$line-height-p: 1.25;
$line-height-li: 1.5;

@mixin font-size($el) {
  @if $el == 'h1' { font-size: 24px; }
  @if $el == 'h2' { font-size: 20px; }
  @if $el == 'h3' { font-size: 18px; }
  @if $el == 'h4' { font-size: 16px; }
  @if $el == 'p' { font-size: 16px; }

  @include breakpoint($small) {
    @if $el == 'h1' { font-size: 30px; }
    @if $el == 'h2' { font-size: 90px; }
    @if $el == 'h3' { font-size: 50px; }
    @if $el == 'h4' { font-size: 18px; }
    @if $el == 'p' { font-size: 25px; }
  }
}

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
//must be in px!
$small: 720;
$medium: 960;
$large: 1920;

//--------------------------------------------------
// z-indices
//--------------------------------------------------
$z-100: 100;
$z-200: 200;
$z-300: 300;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc($large);

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: 16px;
$gutter-medium: 24px;
$gutter-large: 32px;

$container-width-small: 600px;
$container-width-medium: 700px;
$container-width-large: 800px;

$page-padding-top-small: 16px;
$page-padding-top-medium: 24px;
$page-padding-top-large: 32px;

$page-padding-bottom-small: 32px;
$page-padding-bottom-medium: 60px;
$page-padding-bottom-large: 100px;

$section-padding-top-small: 20px;
$section-padding-top-medium: 40px;
$section-padding-top-large: 40px;

$section-padding-bottom-small: 30px;
$section-padding-bottom-medium: 60px;
$section-padding-bottom-large: 60px;

$item-padding-small: 14px;
$item-padding-medium: 20px;
$item-padding-large: 26px;

//--------------------------------------------------
// tables
//--------------------------------------------------
$collapse-table-borders: true;
$table-cell-padding: 8px;

//--------------------------------------------------
// topbars and footers
//--------------------------------------------------
$navbar-height-small: rem-calc(80);
$navbar-height-medium: rem-calc(100);
$v-navbar-height-small: rem-calc(50);
$v-navbar-height-medium: rem-calc(60);

$footer-height-desktop: rem-calc(140);

@mixin nav-height {
  height: $navbar-height-small;
  
  @include breakpoint($small) {
    height: $navbar-height-medium;
  }
}

@mixin v-nav-height($height-type: '') {
  @if $height-type != '' {
    $height-type: $height-type + '-'
  }
  
  #{$height-type}height: $v-navbar-height-small;
  
  @include breakpoint($small) {
    #{$height-type}height: $v-navbar-height-medium;
  }
}

$footer-height-desktop: rem-calc(80);

//--------------------------------------------------
// branding
//--------------------------------------------------
$unepwcmc-w-to-h-ratio: 118/27;
