<% classes = classes ? classes : '' %>

<div class="bg-image__caption flex flex-column gutter-left">
  <span class="bg-image__title<%= " #{classes}" %>"><%= title %></span>
  <span class="bg-image__credit<%= " #{classes}" %>"><%= credit %></span>
</div>