<footer class="footer flex bg-grey-dark gutters">
  <div class="flex flex-v-center">
    <span class="logo--wcmc"></span>
    <span class="footer__title">Review</span>
  </div>

  <p class="button--subtle footer__link"><%= link_to 'Visit our website at unep-wcmc.org', 'http://unep-wcmc.org', title: 'Vist the UNEP-WCMC website', target: '_blank' %></p>
</footer>