<sticky-bar class="topbar sm-target-sticky sm-target-scroll">
  <div class="flex flex-v-center gutters topbar__content">
    <span class="logo--wcmc topbar__only-sticky"></span>
    <span class="topbar__title topbar__only-sticky">Annual Review 2019</span>
    
    <div class="flex flex-v-center flex-h-end">
      <social-share>
        <%= create_sharing_facebook_link %>
        <%= create_sharing_twitter_link %>
        <%= create_sharing_email_link %>
      </social-share>

      <v-nav :pages="<%= @nav %>" :is-always-burger="true" :is-scroll-to-nav="true" class="topbar__only-sticky"></v-nav>
    </div>
  </div>
</sticky-bar>