//--------------------------------------------------
// settings
//--------------------------------------------------
$padding-top-bottom: 25px;

$padding-side-mobile: 16px;
$padding-side-tablet: 16px;
$padding-side-desktop: 48px;

@mixin slide-padding() {
  padding-left: calc(#{$padding-side-mobile} + 10px);
  padding-right: $padding-side-mobile;

  @include breakpoint($small) {
    padding-left: calc(#{$padding-side-tablet} + 10px);
    padding-right: $padding-side-tablet;    
  }

  @include breakpoint($medium) {
    padding-left: calc(#{$padding-side-desktop} + 10px);
    padding-right: $padding-side-desktop;    
  }
}

$indicator-height-mobile: 14px;
$indicator-height-tablet: 14px;
$indicator-height-desktop: 19px;

@mixin indicator-height() {
  margin-right: $indicator-height-mobile / 3;
  width: $indicator-height-mobile; height: $indicator-height-mobile;

  @include breakpoint($small) { 
    margin-right: $indicator-height-tablet / 3;
    width: $indicator-height-tablet; height: $indicator-height-tablet; }

  @include breakpoint($medium) { 
    margin-right: $indicator-height-desktop / 3;
    width: $indicator-height-desktop; height: $indicator-height-desktop; 
  }
}

$carousel-height: auto;
$arrow-button-width: 0;
$indicator-row-height: $indicator-height-desktop + $padding-top-bottom * 2;
$transition-options: 0.6s ease-in-out;

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin carousel-indicator ($color) {
  @include indicator-height();
  background-color: rgba($grey, 0.4);
  border: none;
  border-radius: 50%;

  display: inline-block;

  transition: background-color $transition-options;

  &--selected {
    background-color: $color;
  }
}

@mixin carousel () {
  .carousel__slides-container {
    color: $white;
    padding: 0 $arrow-button-width;
    height: calc(100% - #{$indicator-row-height});
  }

    .carousel__slides {
      padding: 0;
      height: 100%;
      
      position: relative;
      display: flex;
    }


  .carousel__control-bar {
    @include slide-padding();   
    color: grey;
    margin-top: rem-calc(14);
    height: auto;

    display: flex;
    align-items: center;
  }
}

$slide-index-mobile: 18px;
$slide-index-tablet: 20px;
$slide-index-desktop: 28px;

@mixin slide-index-size() { 
  font-size: $slide-index-mobile;

  @include breakpoint($small) { font-size: $slide-index-tablet; }
  @include breakpoint($medium) { font-size: $slide-index-desktop; }
}

$slide-text-mobile: 14px;
$slide-text-tablet: 16px;
$slide-text-desktop: 18px;

@mixin slide-font-size() { 
  font-size: $slide-text-mobile;

  @include breakpoint($small) { font-size: $slide-text-tablet; }
  @include breakpoint($medium) { font-size: $slide-text-desktop; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.transition {
  &.carousel__slides {
    transition: transform $transition-options;
  }
}

.carousel {
//--------------------------------------------------
// class - foreword
//--------------------------------------------------
  &--foreword {
    @include carousel;
    padding-top: 0;
    height: $carousel-height;

    position: relative;

    .carousel {
      &__pause { display: none; }

      &__control-bar { 
        
      }
    
      &__slides-container {
        overflow: hidden;
        width: 100%;
      }

      &__indicator {
        @include carousel-indicator($white);
      }
    }
  }

//--------------------------------------------------
// class - highlights
//--------------------------------------------------
  &--highlights {
    @include carousel;
    overflow: hidden;
    padding-top: 4%;
    height: 100%;

    .carousel {
      &__slides-container {
        @include responsive-styles(width, 100%, 60%, 60%);
      }

      &__slide {
        @include responsive-styles(flex-direction, column, column, row);
        height: 100%;
        display: flex;
        float: left;  
      }

      &__indicator {
        @include carousel-indicator($grey-dark);
      }
    }

    .carousel-slide {
      &__content {
        @include slide-font-size();
        background-color: $pink;
        padding: calc(1.5 * #{$gutter-small}) $gutter-small;
        
        display: flex;
        flex: 100%;
        flex-direction: column;

        @include breakpoint($small) { 
          padding: calc(3 * $gutter-medium) $gutter-medium;
        }

        @include breakpoint($medium) { 
          order: -1;
          padding: 55px;

          flex: 0 1 42%; 
        }
      }

        &__title {
          color: inherit;
          margin-bottom: 0;
        }

        &__introduction {
          color: inherit;
        }

        &__index {
          @include slide-index-size();
          font-weight: $fw-medium;
          margin-top: auto;
        }

      &__image {
        @include responsive-styles(width, 100%, 100%, 58%);
        @include responsive-styles(height, 130px, 70%, 100%);
        background-position: center;
        background-size: cover;
      }
    }
  }
}

.carousel-slide {
  @include slide-padding();
  flex-shrink: 0;
}