//--------------------------------------------------
// settings
//--------------------------------------------------
$padding-top-bottom: 25px;

$padding-side-mobile: 16px;
$padding-side-tablet: 22px;
$padding-side-desktop: 70px;

@mixin slide-padding() {
  padding-left: calc(#{$padding-side-mobile} + 10px);
  padding-right: $padding-side-mobile;

  @include breakpoint($small) {
    padding-left: calc(#{$padding-side-tablet} + 10px);
    padding-right: $padding-side-tablet;    
  }

  @include breakpoint($medium) {
    padding-left: calc(#{$padding-side-desktop} + 10px);
    padding-right: $padding-side-desktop;    
  }
}

$carousel-height: auto;
$arrow-button-width: 0;
$indicator-height: 14px;
$indicator-row-height: $indicator-height + $padding-top-bottom * 2;
$transition-options: 0.6s ease-in-out;

//--------------------------------------------------
// classes
//--------------------------------------------------
.transition {
  &.carousel__slides {
    transition: transform $transition-options;
  }
}

.carousel {
  padding-top: 0;
  height: $carousel-height;

  position: relative;

  &__slides-container {
    padding: 0 $arrow-button-width;
    width: 100%; height: calc(100% - #{$indicator-row-height});
    overflow: hidden;
  }

    &__slides {
      padding: 0;
      height: 100%;
      
      position: relative;
      display: flex;
    }

  &__control-bar { 
    @include slide-padding();   
    color: grey;
    height: $indicator-row-height;

    display: flex;
    align-items: center;
  }

    &__indicator {
      background-color: rgba($grey, 0.4);
      border: none;
      border-radius: 50%;
      margin-right: $indicator-height / 3;
      width: $indicator-height; height: $indicator-height;

      display: inline-block;

      transition: background-color $transition-options;

      &--selected {
        background-color: $white;
      }
    }
}

.carousel-slide {
  @include slide-padding();
  flex-shrink: 0;
}