.footer {
  flex-direction: column;
  justify-content: center;
  height: 110px;

  @include breakpoint($medium) {
    height: 100px;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    border-left: solid 1px $grey-light;
    color: $white;
    margin-left: 20px;
    padding-left: 20px;

    @include breakpoint($medium) { font-size: 28px; }
  }

  &__link {
    margin-bottom: 0;

    @include breakpoint-between($small, $medium) { 
      margin: 10px 0 0 0;
    }

    @include breakpoint($medium) { 
      align-self: center; 
      margin: 0;
    }
  }
}