//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin icon-basic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin arrow($color) {
  @include icon-basic();
    background-image: image-url("icons/arrow-#{$color}.svg");
    
    transform-origin: center;
}

@mixin icon-theme($path) {
  @include icon-basic;
  @include responsive-styles('width', 90px, 120px, 150px);
  @include responsive-styles('height', 180px, 200px, 240px);
  background-image: image-url("icons/#{$path}");
  background-position: center top;
  display: inline-block;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.icon {
  &--arrow-down {
    @include icon-basic();
    background-image: image-url('icons/arrow-down.svg');
    width: 28px; height: 41px;
  }


  &--arrow-right {
    @include arrow('black');
    transform: rotate(-90deg);
    width: 14px; height: 20px;
  }

  &--caroussel-arrow-left {
    @include arrow('black');
    transform: rotate(90deg);
    width: 34px; height: 40px;
    margin-bottom: 20px;
  }

  &--caroussel-arrow-right {
    @include arrow('black');
    transform: rotate(-90deg);
    width: 34px; height: 40px;
    margin-bottom: 20px;
  }

  &--caroussel-arrow-left-white {
    @include arrow('white');
    transform: rotate(90deg);
    width: 34px; height: 40px;
    margin-bottom: 20px;
  }

  &--caroussel-arrow-right-white {
    @include arrow('white');
    transform: rotate(-90deg);
    width: 34px; height: 40px;
    margin-bottom: 20px;
  }

  &--burger {
    @include icon-basic();
    @include responsive-styles('width', 30px, 40px, 50px);
    @include responsive-styles('height', 20px, 30px, 40px);
    background-image: image-url('icons/burger.svg');
  }

  &--cross {
    @include icon-basic();
    @include responsive-styles('width', 14px, 26px, 30px);
    @include responsive-styles('height', 14px, 26px, 30px);
    background-image: image-url('icons/cross.svg');
  }

  &--share {
    @include icon-basic();
    @include responsive-styles('width', 30px, 50px, 50px);
    @include responsive-styles('height', 30px, 50px, 50px);
    background-image: image-url('icons/share.svg');
  }

  &--theme-1 { @include icon-theme('nature-in-sustainable-development.svg'); }
  &--theme-2 { @include icon-theme('business-and-nature.svg'); }
  &--theme-3 { @include icon-theme('planning-for-places.svg'); }
  &--theme-4 { @include icon-theme('nature-across-borders.svg'); }
  &--theme-5 { @include icon-theme('healthy-ocean.svg'); }
  &--theme-6 { @include icon-theme('international-environmental-policy.svg'); }
}