//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin icon-basic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.icon {
  &--arrow-down {
    @include icon-basic();
    background-image: image-url('icons/arrow-down.svg');
    width: 28px; height: 41px;
  }

  &--arrow-right {
    @include icon-basic();
    background-image: image-url('icons/arrow-black.svg');
    width: 21px; height: 29px;
    
    transform-origin: center;
    transform: rotate(-90deg);
  }

  &--burger {
    @include icon-basic();
    @include responsive-styles('width', 30px, 40px, 50px);
    @include responsive-styles('height', 20px, 30px, 40px);
    background-image: image-url('icons/burger.svg');
  }

  &--cross {
    @include icon-basic();
    @include responsive-styles('width', 27px, 40px, 40px);
    @include responsive-styles('height', 27px, 40px, 40px);
    background-image: image-url('icons/cross.svg');
  }

  &--share {
    @include icon-basic();
    @include responsive-styles('width', 30px, 50px, 50px);
    @include responsive-styles('height', 30px, 50px, 50px);
    background-image: image-url('icons/share.svg');
  }
}