$side-nav-button-color: $black;

@keyframes fadeInOut {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
}

.nav {
  &--side {
    position: fixed;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);

    .nav {
      &__link {
        &.nav__link--active > .nav__label,
        &:hover > .nav__label {
          animation: fadeInOut 2s 1 alternate;
        }
      }
        &__button {
          background-color: $side-nav-button-color;
          border-radius: 100%;
          cursor: pointer;
          width: 20px; height: 20px;

          display: block;
          order: 1;
        }

        &__label {
          opacity: 0;
          width: max-content;

          position: absolute;
          right: calc(100% + 10px);
        }
    }
  }
}