$side-nav-style-1-button: $white;
$side-nav-style-1-label: rgba($grey, .8);

$side-nav-style-2-button: $grey-dark;
$side-nav-style-2-label: rgba($grey, .8);

@keyframes fadeInOut {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
}

@mixin nav-side-style ($button-color, $label-color) {
  .nav__link {
    &.nav__link--active > .nav__button {
      background-color: $button-color;
    }

    &:hover > .nav__button {
      background-color: $label-color;
      border-color: $label-color;
    }
  }

    .nav__button {
      border: solid 1px $button-color;
    }

    .nav__label {
      background-color: $label-color;
      color: $button-color;

      &::after { border-left: 8px solid $label-color; }
    }
}

.nav {
  &--side {
    @include nav-side-style($side-nav-style-1-button, $side-nav-style-1-label);
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: $z-200;

    transform: translateY(-50%);

    &.nav--forewords {
      @include nav-side-style($side-nav-style-2-button, $side-nav-style-2-label);
    }
    
    &.nav--foreword {
      @include nav-side-style($side-nav-style-1-button, $side-nav-style-1-label);
    }
    
    &.nav--projects {
      @include nav-side-style($side-nav-style-2-button, $side-nav-style-2-label);
    }

    &.nav--stats-people {
      @include nav-side-style($side-nav-style-1-button, $side-nav-style-1-label);
    }

    .nav {
      &__link {
        &.nav__link--active > .nav__label,
        &:hover > .nav__label {
          animation: fadeInOut 2s 1 alternate;
        }
      }

        &__button {
          background-color: transparent;
          border-radius: 100%;
          cursor: pointer;
          margin: 12px 0;
          width: 25px; height: 25px;

          display: block;
          order: 1;
        }

        &__label {
          font-weight: $fw-bold;
          opacity: 0;
          padding: 2px 10px;
          width: max-content;

          position: absolute;
          bottom: 50%; //for IE11
          right: calc(100% + 12px);

          transform: translateY(50%); //for IE11

          &::after {
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            content: '';
            width: 0; height: 0;

            position: absolute;
            top: 50%;
            right: -8px;

            transform: translateY(-50%);
          }
        }
    }
  }
}
