$side-nav-button-color: $black;

.nav {
  &--side {
    position: fixed;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);

    .nav {
      &__link {
        &.nav__link--active > .nav__label,
        &:hover > .nav__label {
          display: block;
        }
      }
        &__button {
          background-color: $side-nav-button-color;
          border-radius: 100%;
          cursor: pointer;
          width: 20px; height: 20px;

          display: block;
          order: 1;
        }

        &__label {
          width: max-content;

          display: none;
          position: absolute;
          right: calc(100% + 10px);
        }
    }
  }
}