$introduction-mobile: 20px;
$introduction-tablet: 18px;
$introduction-desktop: 28px;
$introduction-desktop-small: 24px;

.section {
  &__introduction {
    font-size: $introduction-mobile;
    font-weight: $fw-medium;

    @include breakpoint($small) { font-size: $introduction-tablet; }
    @include breakpoint($medium) { font-size: $introduction-desktop; }

    &--small {
      @extend .section__introduction;
      @include breakpoint($medium) { font-size: $introduction-desktop-small; }
    }
  }

  &__text {
    font-size: 18px;
    font-weight: $fw-regular
  }

//--------------------------------------------------
// page sections
//--------------------------------------------------
  &--hero { @import './sections/hero.scss'; }

  &--foreword { @import './sections/foreword.scss'; }

  &--anniversary { @import './sections/anniversary.scss'; }
  
  &--highlights { 
    @import './sections/highlights.scss'; 
    height: calc(100vh - #{$topbar-height-desktop});
  }

  &--projects { @import './sections/projects.scss'; }

  &--stats-people { 
    background: linear-gradient(to bottom, $primary 50%, $primary-dark);
    @import './sections/stats-people.scss'; 
  }

  &--stats-finance { @import './sections/stats-finance.scss'; }

  &--impacts { @import './sections/impacts.scss'; }

  &--future { @import './sections/future.scss'; }
}