$introduction-mobile: 14px;
$introduction-tablet: 18px;
$introduction-desktop: 28px;

.section {
  &__introduction {
    font-size: $introduction-mobile;
    font-weight: $fw-medium;

    @include breakpoint($small) { font-size: $introduction-tablet; }
    @include breakpoint($medium) { font-size: $introduction-desktop; }
  }

  &__text {
    font-size: 18px;
    font-weight: $regular
  }

//--------------------------------------------------
// page sections
//--------------------------------------------------
  &--hero {
    @include background-image('hero/nairobi-national-park.jpg');
    
    @import './sections/hero.scss';
  }

  &--foreword {
    @import './sections/foreword.scss';
  }

  &--anniversary {
    @import './sections/anniversary.scss';
  }
  
  &--highlights {
    @include background-image('hero/chuuk-lagoon.jpg');
  }

  &--projects {
    @import './sections/projects.scss';
  }

  &--stats-people {
    background: linear-gradient(to bottom, $primary 50%, $primary-dark);
    
    @import './sections/stats-people.scss';
  }

  &--stats-finance {
    @include background-image('hero/dry-season-cat-tien-national-park.jpg');
    color: $white;

    @import './sections/stats-finance.scss';
  }

  &--future {
    @include background-image('hero/springbok-okavango-botswana.jpg');

    @import './sections/future.scss';
  }
}