.slides-wrapper {
  &--highlights {
    overflow: hidden;
    width: 100%; height: 80vh;
    
    perspective: 1000;

    &:after {
      background: linear-gradient(to right, rgba(0,0,0,0%) 80%, #000000);
      content: '';
      display: block;
      width: 100%; height: 100%;

      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.slides {
  &--highlights {
    width: 300%; height: 100%;
  }
}

.slide {
  &--highlights {
    color: $white;
    padding-left: 32px; 
    width: 100%; height: 100%;
    
    display: flex;
    float: left;

    .slide {
      &__content {
        background-color: #077E47;
        flex: 100%;
        padding: 55px;

        @include breakpoint($small) { flex: 0 1 50%; }
      }

        &__title {
          color: inherit;
        }

        &__introduction {
          color: inherit;
        }

        &__index {
          font-weight: $fw-black;
        }

      &__image {
        background-size: cover;
        width: 50%;

        @include breakpoint($small) { width: 50%; }
      }
    }
  }
}