//--------------------------------------------------
// settings
//--------------------------------------------------
$slide-text-mobile: 14px;
$slide-text-tablet: 16px;
$slide-text-desktop: 18px;

@mixin slide-font-size() { 
  font-size: $slide-text-mobile;

  @include breakpoint($small) { font-size: $slide-text-tablet; }
  @include breakpoint($medium) { font-size: $slide-text-desktop; }
}

$slide-index-mobile: 18px;
$slide-index-tablet: 20px;
$slide-index-desktop: 28px;

@mixin slide-index-size() { 
  font-size: $slide-index-mobile;

  @include breakpoint($small) { font-size: $slide-index-tablet; }
  @include breakpoint($medium) { font-size: $slide-index-desktop; }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.slides-wrapper {
  &--highlights {
    overflow: hidden;
    width: 100%; height: 70vh;
    
    perspective: 1000;
  }
}

.slides {
  &--highlights {
    width: 300%; height: 100%;
  }
}

.slide {
  &--highlights {
    color: $white;
    padding-right: 32px; 
    width: 100%; height: 100%;
    
    display: flex;
    flex-direction: column;
    float: left;

    @include breakpoint($medium) { flex-direction: row; }

    .slide {
      
      &__content {
        @include slide-font-size();
        background-color: $pink;
        padding: calc(1.5 * #{$gutter-small}) $gutter-small;
        
        display: flex;
        flex: 100%;
        flex-direction: column;

        @include breakpoint($small) { 
          padding: calc(3 * $gutter-medium) $gutter-medium;
        }

        @include breakpoint($medium) { 
          padding: 55px;

          flex: 0 1 50%; 
        }
      }

        &__title {
          color: inherit;
        }

        &__introduction {
          color: inherit;
        }

        &__index {
          @include slide-index-size();
          font-weight: $fw-medium;
          margin-top: auto;
        }

      &__image {
        background-size: cover;
        width: 100%; height: 50%;

        @include breakpoint($medium) { width: 50%; height: 100%; }
      }
    }
  }
}