$topbar-height-mobile: 57px;
$topbar-height-tablet: 71px;
$topbar-height-desktop: 96px;

$topbar-title-mobile: 14px;
$topbar-title-tablet: 18px;
$topbar-title-desktop: 24px;

@mixin topbar-style($style) {
  @if $style == 'blue' {
    background-color: $primary; 
    box-shadow: $grey-dark 0px 3px 6px;
  } @else if $style == 'grey' {
    background-color: $grey-dark;
    box-shadow: $black 0px 3px 6px;  
  }
}

.topbar {
  @include responsive-styles('height', $topbar-height-mobile, $topbar-height-tablet, $topbar-height-desktop);
  @include responsive-styles('top', -$topbar-height-mobile, -$topbar-height-tablet, -$topbar-height-desktop);
  width: 100%;
  
  position: absolute;

  transition: top .25s ease-out;
  
  &--foreword { @include topbar-style('grey'); }
  &--anniversary { @include topbar-style('blue'); }
  &--highlights { @include topbar-style('grey'); }
  &--stats-people { @include topbar-style('blue'); }
  &--stats-finance { @include topbar-style('grey'); }

  &.sticky {
    position: fixed;
    top: 0;
    z-index: $z-300;

    .topbar__content { 
      position: relative; 
      top: inherit;
    }

    .topbar__only-sticky { visibility: visible; }
  }

  &__content {
    width: 100%; height: 100%; 

    position: absolute; 
    top: 100%; 
  }

    &__only-sticky { visibility: hidden; }

    &__title {
      @include responsive-styles(font-size, $topbar-title-mobile, $topbar-title-tablet, $topbar-title-desktop);
      border-left: solid 1px $grey-light;
      color: $white;
      margin-left: 20px;
      padding-left: 20px;

      z-index: $z-300;
    }
}