$topbar-height-desktop: 96px;

@mixin topbar-style($style) {
  @if $style == 'blue' {
    background-color: $primary; 
    box-shadow: $grey-dark 0px 3px 6px;
  } @else if $style == 'grey' {
    background-color: $grey-dark;
    box-shadow: $black 0px 3px 6px;  
  }
}

.topbar {
  @include topbar-style('grey');
  width: 100%; height: $topbar-height-desktop;
  
  position: absolute;
  top: -100%;

  transition: top .75s ease-out;
  
  &--anniversary { @include topbar-style('blue'); }
  &--highlights { @include topbar-style('grey'); }
  &--stats-people { @include topbar-style('blue'); }
  &--stats-finance { @include topbar-style('grey'); }

  &.sticky {
    position: fixed;
    top: 0;
    z-index: $z-100;
  }

  &__title {
    border-left: solid 1px $grey-light;
    color: $white;
    font-size: 24px;
    margin-left: 20px;
    padding-left: 20px;

    z-index: $z-300;
  }
}