<div class="section__left">
  <div class="ratio-16-9" >
    <iframe src="https://www.youtube.com/embed/2oMp9kLUIPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="section__right">
  <carousel>
    <% data['collection'].each do |slide| %>
      <carousel-slide :margin-size="0">
        <blockquote><%= slide['quote'] %></blockquote>
        <span class="blockquote-author"><%= slide['author'] %></span>
      </carousel-slide>
    <% end %>
  </carousel>
</div>

