<div class="container--medium">
  <h2 class="heading--small"><%= data['title'] %></h2>
  <p class="section__introduction"><%= data['introduction'] %></p>
  <%= link_to 'UNEP-WCMC Website', 'http://unep-wcmc.org', target: '_blank', class:'button--external inline-block item-margin--top' %>
</div>

<%= render partial: 'home/shared/caption/', locals: { title: data['hero_title'], credit: data['hero_credit'] } %>