<div class="section__header flex flex-center">
  <div class="section__header-content">
    <%= link_to '', 'http://unep-wcmc.org', target: '_blank', class: 'logo--wcmc margin-center' %>
    <h2><%= data['title'] %></h2>
  </div>

  <span class="section__icon">V</span>

  <div class="section__caption flex flex-column gutter-left">
    <span>Image title</span>
    <span>Credit</span>
  </div>
</div>