<div class="section__header flex flex-center">
  <div class="section__header-content">
    <span class="logo--wcmc margin-center"></span>
    <h2><%= data['title'] %></h2>
  </div>

  <span class="section__icon">V</span>
  
  <%= render partial: 'home/shared/caption/', locals: { title: data['hero_title'], credit: data['hero_credit'] } %>
</div>