<div class="section__header flex flex-center white gutters">
  <div class="section__header-content">
    <div class="logo__container">
      <span class="logo--wcmc"></span>
      <span class="logo--unep"></span>
    </div>
    <h1><%= data['title'].html_safe %></h1>
    <p class="section__introduction"><%= data['introduction'] %></p>
  </div>

  <span class="section__icon icon--arrow-down breakpoint-medium-up"></span>
  
  <%= render partial: 'home/shared/caption/', locals: { title: data['hero_title'], credit: data['hero_credit'] } %>
</div>