<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/global/head', locals: {} %>    
  </head>

  <body>
    <div id="v-app">
      <%= render partial: 'layouts/global/nav', locals: {} %>

      <%= yield %>
    </div>

    <%= render partial: 'layouts/global/footer', locals: {} %>
  </body>
</html>
